<!-- INICIO DE LA BARRA IZQUIERDA(SIN ESTO SE VA A LA B') -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <!-- USADO COMO ESPACIO-->
              </div>
<!--BOTON VERDE PARA PEDIR LA CLETA LOCO -->

              <button class="btn btn-success btn-block" onclick="RutaMiCatalogo();">PIDE TU BICICLETA
                <i class="mdi mdi-plus" ></i>
                
              </button>
            </div>
          </li>
<!--BARRA IZQUIERDA-->
          <li class="nav-item">
            <button onclick="RutaMiPerfil();" class="btn btn-block btn-muted">
              <a class="nav-link" > Mi Perfil </a>
            </button>
          </li>
          </li>
          <li class="nav-item">
            <button onclick="RutaMiPerfil();" class="btn btn-block btn-muted">
              <a class="nav-link" > Sucursales </a>
            </button>
          </li>
          </li>
          <li class="nav-item">
            <button onclick="RutaMiArriendo();" class="btn btn-block btn-muted">
              <a class="nav-link" > Mi Perfil </a>
            </button>
          </li>
          </li>
          <li class="nav-item">
            <button onclick="RutaMiCatalogo();" class="btn btn-block btn-muted">
              <a class="nav-link" > Catalogo</a>
            </button>
            
          </li>
          </li>
          <li class="nav-item">
            <button onclick="RutaMiPerfil();" class="btn btn-block btn-muted">
              <a class="nav-link" > Ajustes </a>
            </button>
          </li>
        </ul>
      </nav>